ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
li{
    float: left;
}
a{
    display: block;
    padding: 8px;
    background-color: rgb(20, 4, 89);
}
